html,
body {
	overflow: hidden;
	height: 100vh;
	margin-top: 0;
	font-family: Source Sans Pro, sans-serif;
	--animation-duration: 500ms;
}

[data-twitch-chat] {
	list-style: none;
	margin: 0;
	padding: 0.1em;
	height: 100vh;
	display: flex;
	flex-direction: row-reverse;
	gap: 1em;
	justify-content: flex-end;
	color: #333;
}

[data-twitch-message] {
	background: #ccc;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 0.75em;
	word-wrap: break-word;
	box-shadow: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgb(0 0 0 / 40%),
		0 10px 10px -5px rgb(0 0 0 / 10%);
	transition: opacity var(--animation-duration) ease-in,
	opacity: 0;
	animation: show var(--animation-duration) 100ms
		cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
	border-radius: 0.25em;
	max-width: 20em;
    	flex: 1 0 auto;
	overflow: hidden;
}

@keyframes show {
	100% {
		opacity: 1;
		transform: none;
	}
}

.twitch-chat-sender {
	font-weight: 800;
	color: #ff4367;
	margin-bottom: 0.1em;
}

[data-twitch-message-reply] {
	display: none;
}

[data-twitch-mentioned-user],
.twitch-chat-command {
	background: transparent;
	font-weight: 700;
}

[data-twitch-emote] {
	width: 1.7em;
	margin-bottom: -0.3em;
}

[data-twitch-message] a {
	color: #ff4367;
	text-decoration: none;
}
